@import "bootflat.css";
@import "golden.css";

html,
body {
	margin: -15px 0 0;
  font: sans;
  color: #fff;
  font-size: 150%;
  padding: 0px;
  background: transparent;
}
html {
  background: #121212;
}
body {
}
header {
}
footer {
}
#page {

}
.row {
  padding: 0 10px 0 20px;
}

#nubspace {
  font-size: 28px;
}
label, input {
  font-size: 16px;
}
.row,
section {
}

a:hover {
  color: #c4adfe;
  background-color: #4e00cc;
}

ol,
ul {
  padding: 0;
}
ul li {
  list-style: none;
  display: inline-block;
}

#lolnub, 
#lolnub input[type=submit] {
  display: block;
  padding: 42px;
  font-size: 42px;
  color: #b0e0fa;
  background-color: #0a304c;
  border: 1px solid #1b1b1b;
}

#patches {
  margin: 40px;
  position: fixed;
  right: 0;
  top: 0;
  width: 100px;
  display: block;
  height: 100px;
}

#content .title {
  color: #004c77;
}

#patches {

}

header {
  padding: 40px;
}

footer {

}

#copyright {
  z-index: -4;
}