@import url("bootflat.css");

html,
body {
  font: sans;
  color: #fff;
  font-size: 142%;
  padding: 0px;
  margin: 0px;
  /*background: #040404;*/
  background: #0a0a0a;
}
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  word-spacing: 2px;
  letter-spacing: 2.5px;
  color: #999fa0;
}

header {
  background: rgb(68, 68, 68);
}

h1 {
  max-height: 80px;
  height: 80px;
  overflow: hidden;
}

label, 
input {
  font-size: 16px;
}


ol,
ul {
  margin: 0;
}

ul li {
  list-style: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(255, 255, 255, 0.29);
  padding-left: 40px;
  text-transform: lowercase;
}

code {
  background: transparent;
  display: block;
  margin-bottom: 40px;
}


/* custom */

.content form {
  background-color: #53bcfe;
  padding: 20px;
  border-radius: 2px;
}

#console {
  height: 80px;
  max-height: 80px;
}

#console #lolnub {
  height: 80px;
  background: transparent;
}

#poke,
#lolnub #execute {
    font-size: 28px;
  line-height: 80px;
}

#poke {
  text-align: right;
  color: #181818;
  font-weight: normal;
  font-style: normal;
}

#lolnub {
  overflow: hidden;
}

#lolnub #execute {
  border-style: none;
  border-width: 0;
  font-weight: normal;
  font-style: normal;
  color: #4e59ab;
  background: transparent;
  margin-left: 40px;
}

#lolnub #execute:focus {
  outline: none;
}

#lolnub input[type=submit] {
  margin-left: -9000px;
  font-weight: lighter;
  font-style: normal;
}

#signals {
  text-align: right;
  padding: 40px;
}

#signals li {
  text-transform: lowercase;
  display: block;
  margin: 10px 9px 10px 10px;
  color: #5d5d5d;
}

#signals li em {
  color: #8b8b8b;
  font-weight: bold;
}

#signals .patches {
  position: relative;
  left: 20px;
}

#output {  
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

#output section {
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.12);
    background: transparent;
  margin-bottom: 40px;
}

body a {
  color: rgb(18, 146, 229);
  border-bottom: 1.5px solid rgba(0, 115, 185, 0.45);
}

body a:hover {
  background-color: #4e00cc;
  color: #ffffff;
  border-bottom: none;
}


