@import "bootflat.css"
@import "jeet"

html
  font-size 150%
  background-color #090909

header 
  h1
    color #234422
  
.row
  background-color #191919
  

#content img
  span(.5)

#player
  center()

#player 
  #nubspace
    background-color #000
    border 
    font-size 42px