@import "bootflat.css"
@import "jeet"

html
  font sans
  color #fff
  font-size 150%
  background-color #212121

body
  margin 0
  padding 0
  background-color #080808

header
  padding 20px

#page
  background-color #080808
